<div class="table-responsive">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- id Column -->
    <ng-container matColumnDef="id"style="display:none">
      <th mat-header-cell *matHeaderCellDef style="display:none"> Id Docente </th>
      <td mat-cell *matCellDef="let element"style="display:none"> {{element.id}} </td>
    </ng-container>

    <!-- nombreDocente Column -->
    <ng-container matColumnDef="nombreDocente" hidden>
      <th mat-header-cell *matHeaderCellDef> Nombre Docente </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreDocente}} </td>
    </ng-container>

    <!-- sueldo Column -->
    <ng-container matColumnDef="sueldo">
      <th mat-header-cell *matHeaderCellDef> Sueldo </th>
      <td mat-cell *matCellDef="let element"> {{element.sueldo| number: '3.0-2' }} </td>
    </ng-container>
    <!-- fechaInicio Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
    </ng-container>
    <!-- fechaFin Column -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
    </ng-container>
    <!--Options-->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" [routerLink]='["/editar-contrato/"+element.id]'><mat-icon> border_color</mat-icon></button>
        <button mat-icon-button color="warn" (click)="delete(element)"><mat-icon>delete_outline</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<button [routerLink]='["/registrar-contrato"]' class="btn-flotante">Nuevo Contrato</button>
