<div class="formulario" align="center" [formGroup]="formGroupM">
  <h1>Formulario de la Madre</h1>
  <div>
    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((nomResponsable.touched || nomResponsable.dirty)&& nomResponsable.invalid)}">
      <mat-label>Nombre de la madre</mat-label>
      <input matInput type="text" formControlName="nomResponsable" placeholder="Raúl Agámez" required>
      <mat-error *ngIf="((nomResponsable.touched || nomResponsable.dirty)&& nomResponsable.invalid) && nomResponsable.errors.required">  Nombre es<strong> requerido </strong></mat-error>
    </mat-form-field>

    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((celResponsable.touched || celResponsable.dirty)&& celResponsable.invalid)}">
      <mat-label>Celular de la madre</mat-label>
      <input matInput type="text" formControlName="celResponsable" placeholder="Valledupar" required>
      <mat-error *ngIf="((celResponsable.touched || celResponsable.dirty)&& celResponsable.invalid) && celResponsable.errors.required">  Celular es<strong> requerido </strong></mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((lugNacimiento.touched || lugNacimiento.dirty)&& lugNacimiento.invalid)}">
      <mat-label>Lugar de nacimiento</mat-label>
      <input matInput type="text" formControlName="lugNacimiento" placeholder="Valledupar" required>
      <mat-error *ngIf="((lugNacimiento.touched || lugNacimiento.dirty)&& lugNacimiento.invalid) && lugNacimiento.errors.required">  Lugar de nacimiento es<strong> requerido </strong></mat-error>
    </mat-form-field>

    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((fecNacimiento.touched || fecNacimiento.dirty)&& fecNacimiento.invalid)}">
      <mat-label>Fecha de nacimiento</mat-label>
      <input formControlName="fecNacimiento" placeholder="Valledupar" matInput [matDatepicker]="picker1" required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="((fecNacimiento.touched || fecNacimiento.dirty)&& fecNacimiento.invalid) && fecNacimiento.errors.required">  Fecha de nacimiento es<strong> requerido </strong></mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((ideResponsable.touched || ideResponsable.dirty)&& ideResponsable.invalid)}">
      <mat-label>Número de documento</mat-label>
      <input matInput type="text" formControlName="ideResponsable" placeholder="Raúl Agámez" required>
      <mat-error *ngIf="((ideResponsable.touched || ideResponsable.dirty)&& ideResponsable.invalid) && ideResponsable.errors.required">  Número de documento es<strong> requerido </strong></mat-error>
    </mat-form-field>

    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((tipDocumento.touched || tipDocumento.dirty)&& tipDocumento.invalid)}">
      <mat-label>Tipo de documento</mat-label>
      <mat-select formControlName="tipDocumento" placeholder="Elija una opción">
        <mat-option value="Cedula de ciudadania">Cedula de ciudadania</mat-option>
        <mat-option value="Cédula de extranjero">Cédula de extranjero</mat-option>
        <mat-option value="Cedula de ciudadania">Cedula de ciudadania</mat-option>
        <mat-option value="Otro">Otro</mat-option>
      </mat-select>
      <mat-error *ngIf="((tipDocumento.touched || tipDocumento.dirty)&& tipDocumento.invalid) && tipDocumento.errors.required">  Tipo de documento es<strong> requerido </strong></mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((lugExpedicion.touched || lugExpedicion.dirty)&& lugExpedicion.invalid)}">
      <mat-label>Lugar de expedición del documento</mat-label>
      <input matInput type="text" formControlName="lugExpedicion" placeholder="Valledupar" required>
      <mat-error *ngIf="((lugExpedicion.touched || lugExpedicion.dirty)&& lugExpedicion.invalid) && lugExpedicion.errors.required">  Lugar de expedición es<strong> requerido </strong></mat-error>
    </mat-form-field>

    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((profResponsable.touched || profResponsable.dirty)&& profResponsable.invalid)}">
      <mat-label>Profesión de la madre</mat-label>
      <input matInput type="text" formControlName="profResponsable" placeholder="Docente" required>
      <mat-error *ngIf="((profResponsable.touched || profResponsable.dirty)&& profResponsable.invalid) && profResponsable.errors.required">  Profesión es<strong> requerido </strong></mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((ocuResponsable.touched || ocuResponsable.dirty)&& ocuResponsable.invalid)}">
      <mat-label>Ocupación de la madre</mat-label>
      <input matInput type="text" formControlName="ocuResponsable" placeholder="Docente" required>
      <mat-error *ngIf="((ocuResponsable.touched || ocuResponsable.dirty)&& ocuResponsable.invalid) && ocuResponsable.errors.required">  Ocupación es<strong> requerido </strong></mat-error>
    </mat-form-field>

    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((entResponsable.touched || entResponsable.dirty)&& entResponsable.invalid)}">
      <mat-label>Empresa donde trabaja</mat-label>
      <input matInput type="text" formControlName="entResponsable" placeholder="Desconocido" required>
      <mat-error *ngIf="((entResponsable.touched || entResponsable.dirty)&& entResponsable.invalid) && entResponsable.errors.required">  Empresa es<strong> requerido </strong></mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((celEmpresa.touched || celEmpresa.dirty)&& celEmpresa.invalid)}">
      <mat-label>Celular de la Empresa</mat-label>
      <input matInput type="text" formControlName="celEmpresa" placeholder="1234567" required>
      <mat-error *ngIf="((celEmpresa.touched || celEmpresa.dirty)&& celEmpresa.invalid) && celEmpresa.errors.required">  Celular es<strong> requerido </strong></mat-error>
    </mat-form-field>

    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((correo.touched || correo.dirty)&& correo.invalid)}">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" formControlName="correo" placeholder="ejemplo@ejemplo.com" required>
      <mat-error *ngIf="((correo.touched || correo.dirty)&& correo.invalid) && correo.errors.required">  Correo electrónico es<strong> requerido </strong></mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((acudiente.touched || acudiente.dirty)&& acudiente.invalid)}">
      <mat-label>Es usted el acudiente?</mat-label>
      <mat-select formControlName="acudiente" placeholder="Elija una opción">
        <mat-option value="Si">Si</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
      <mat-error *ngIf="((acudiente.touched || acudiente.dirty)&& acudiente.invalid) && acudiente.errors.required">  Acudiente es<strong> requerido </strong></mat-error>
    </mat-form-field>
  </div>
  <input type="hidden" formControlName="tipoResponsable">
</div>
