<div class="container" align="center">
  <h1>Formulario de Mensualidad</h1>
  <form [formGroup]="formGroup">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mes">Mes en el que se registra el pago</label>
        <input type="text" class="form-control" formControlName="mes" id="mes" placeholder="Ej: 05">
      </div>
      <div class="form-group col-md-6">
        <label for="diaPago">Dia acordado para pago</label>
        <input type="text" class="form-control" formControlName="diaPago" id="diaPago" placeholder="Ej: 04">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fechaPago">Fecha del pago</label>
        <input type="text" class="form-control" formControlName="fechaPago" id="fechaPago" placeholder="Ej: 01/04/2021">
      </div>
      <div class="form-group col-md-6">
        <label for="valorMensualidad">Valor mensualidad</label>
        <input type="text" class="form-control" formControlName="valorMensualidad" id="valorMensualidad" placeholder="Ej: 200.000">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="descuentoMensualidad">Descuento a mensualidad</label>
        <input type="text" class="form-control" formControlName="descuentoMensualidad" id="descuentoMensualidad" placeholder="Ej: 20.000">
      </div>
      <div class="form-group col-md-6">
        <label for="abono">Abono que se recibe</label>
        <input type="text" class="form-control" formControlName="abono" id="abono" placeholder="Ej: 100.000">
      </div>
    </div>
    
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="estado">Estado</label>
        <select id="estado" formControlName="estado" class="form-control">
          <option selected>Elija una opción</option>
          <option>Paz y salvo</option>
          <option>Mora</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="totalMensualidad">TotalMensualidad</label>
        <input type="text" class="form-control" formControlName="totalMensualidad" id="totalMensualidad" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="deuda">Deuda actual</label>
        <input type="text" class="form-control" formControlName="deuda" id="deuda" placeholder="">
      </div>
    </div>
    
  </form>
</div>
