<h1 *ngIf="modoEdicion">Actualizar Mensualidad</h1>
<h1 *ngIf="!modoEdicion">Registrar Mensualidad</h1>

<div class="container">
  <h1>Formulario de Mensualidad</h1>
  <form [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="form-row">
      <div>
        <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((mes.touched || mes.dirty)&& mes.invalid)}">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="mes" placeholder="Elija una opción">
            <mat-option value="Enero">Enero</mat-option>
            <mat-option value="Febrero">Febrero</mat-option>
            <mat-option value="Marzo">Marzo</mat-option>
            <mat-option value="Abril">Abril</mat-option>
            <mat-option value="Mayo">Mayo</mat-option>
            <mat-option value="Junio">Junio</mat-option>
            <mat-option value="Julio">Julio</mat-option>
            <mat-option value="Agosto">Agosto</mat-option>
            <mat-option value="Septiembre">Septiembre</mat-option>
            <mat-option value="Octubre">Octubre</mat-option>
            <mat-option value="Noviembre">Noviembre</mat-option>
            <mat-option value="Diciembre">Diciembre</mat-option>
          </mat-select>
          <mat-error *ngIf="((mes.touched || mes.dirty)&& mes.invalid) && mes.errors.required">  Mes es<strong> requerido </strong></mat-error>
        </mat-form-field>
      </div>

      
     

    </div>
 <button type="submit" mat-raised-button color="primary" [disabled]="!formGroup.valid">
      Salvar Mensualidad
    </button>
  </form>
</div>
