<h1 *ngIf="modoEdicion">Actualizar Materia</h1>
<h1 *ngIf="!modoEdicion">Registrar Materia</h1>

<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="save()">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="idMateria">Codigo de la materia</label>
        <input type="number" class="form-control" formControlName="idMateria" id="idMateria" placeholder="Ej: 05">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombreMateria">nombre de materia</label>
        <input type="text" class="form-control" formControlName="nombreMateria" id="nombreMateria" placeholder="Ej: ingles">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="IdDocente">Codigo del docente</label>
        <select formControlName="IdDocente" ng-options="" ng-model="" class="form-control" id="IdDocente">
          <option value="">Seleccione un codigo de curso</option>
          <option value="{{prueba}}" *ngFor="">
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="IdCurso">Codigo del curso</label>
        <select formControlName="IdCurso" ng-options="" ng-model="" class="form-control" id="IdCurso">
          <option value="">Seleccione un codigo de curso</option>
          <option value="{{prueba}}" *ngFor="">
          </option>
        </select>
      </div>
    </div>

    <button type="submit" mat-raised-button color="primary">
      Guardar materia
    </button>
  </form>
</div>
