<h1 *ngIf="modoEdicion">Actualizar Materia</h1>
<h1 *ngIf="!modoEdicion">Registrar Materia</h1>

<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="save()">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombreMateria">nombre de materia</label>
        <input type="text" class="form-control" formControlName="nombreMateria" id="nombreMateria" placeholder="Ej: ingles">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="idCurso">Curso</label>
        <select formControlName="idCurso" ng-options="ICurso.nombreCurso for id in Listacurso" ng-model="ICurso2" class="form-control" id="idCurso">
          <option value="">Seleccione un curso</option>
          <option value="{{datox.id}}" *ngFor="let datox of Listacurso">
            {{datox.nombreCurso}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="idDocente">Docente</label>
        <select formControlName="idDocente" ng-options="IDocente.nomEstudiante for id in Listadocente" ng-model="IDocente" class="form-control" id="idDocente">
          <option value="">Seleccione un docente</option>
          <option value="{{dato.id}}" *ngFor="let dato of Listadocente">
            {{dato.nombreCompleto}}
          </option>
        </select>
      </div>
    </div>

    <button type="submit" mat-raised-button color="primary">
      Guardar materia
    </button>
  </form>
</div>
