<p>form-responsable-acudiente works!</p>
<span>
  <div>
    <label> Nombre completo:</label> <input type="text" name="name"/>
    <label> Parentesco con el estudiante:</label> <input type="text" name="parentesco"/>
  </div>
</span>
<span>
  <div>
    <label> Lugar de nacimiento:</label> <input type="text" name="place" />
    <label> Fecha de nacimiento:</label> <input type="text" name="born"/>
  </div>
</span>
<span>
  <div>
    <label> Tipo de documento de identidad:</label> <input type="text"/>
    <label> Numero:</label> <input type="text"/>
  </div>
</span>
<span>
  <div>
    <label> Lugar de expedición:</label> <input type="text" />
    <label> Celular:</label> <input type="text" />
    <label> Teléfono:</label> <input type="text" />
  </div>
</span>
<span>
  <div>
    <label> Profesión:</label> <input type="text" />
    <label> Ocupasión:</label> <input type="text" />
  </div>
</span>
<span>
  <div>
    <label> Entidad en la Trabaja:</label> <input type="text" />
    <label> Teléfono de la empresa:</label> <input type="text" />
  </div>
</span>
<span>
  <div>
    <label> Correo:</label> <input type="text" />
  </div>
</span>
