<h1 *ngIf="modoEdicion">Actualizar Nota</h1>
<h1 *ngIf="!modoEdicion">Registrar Nota</h1>

<div class="container">
  <h1>Formulario de Notas</h1>
  <form [formGroup]="formGroup" (ngSubmit)="save()">
    <div formArrayName="notasEstudiantes"
         *ngFor="let notaEstudiante of notasEstudiantes.controls; let i=index">
      <div [formGroupName]="i">
        <mat-form-field class="col-media" appearance="fill">
          <mat-label>Nombre Estudiante</mat-label>
          <input matInput type="text" formControlName="nomEstudiante" readonly>
          <input type="hidden" formControlName="idEstudiante" readonly>
        </mat-form-field>

        <mat-form-field class="col-media" appearance="fill" [ngClass]="{'has-error': ((notaAlumno.touched || notaAlumno.dirty)&& notaAlumno.invalid)}">
          <mat-label>Nota del alumno</mat-label>
          <input matInput type="number" formControlName="notaAlumno">
          <input type="hidden" formControlName="idActividad" readonly>
        </mat-form-field>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" mat-raised-button color="primary" [disabled]="!notasEstudiantes.valid">
        Guardar notas
      </button>
    </div>
  </form>
</div>
