<div class="table-responsive">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Id Column -->
    <ng-container matColumnDef="id" style="display:none">
      <th mat-header-cell *matHeaderCellDef style="display:none"> Id</th>
      <td mat-cell *matCellDef="let element" style="display:none"> {{element.id}} </td>
    </ng-container>

    <!--NombreCompleto Column -->
    <ng-container matColumnDef="nombreCompleto" hidden>
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
    </ng-container>

    <ng-container matColumnDef="numTarjetaProf" hidden>
      <th mat-header-cell *matHeaderCellDef> Num Tarjeta profesional </th>
      <td mat-cell *matCellDef="let element"> {{element.numTarjetaProf}} </td>
    </ng-container>

    <!-- maxEstudiantes Column -->
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef> Cedula </th>
      <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
    </ng-container>
    <!-- IdDirector Column -->
    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef> Celular </th>
      <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
    </ng-container>
    <!-- NombreDirector Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>
    <!-- Cedula Column -->

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Direccion </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <!--Options-->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" [routerLink]='["/editar-docente/"+element.id]'>Editar</button>
        <button mat-icon-button color="warn" (click)="Eliminar(element.id)"><mat-icon>delete_outline</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
<button (click)="Registrar()" class="btn-flotante">Nuevo Docente</button>
